@page
@using Northwind.EntityModels
@model Northwind.Web.Pages.SuppliersModel
@{
}
<div class="row">
    <h1 class="display-2">Suppliers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Company Name</th>
                <th>Country</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Suppliers is not null)
            {
                @foreach (Supplier suppliers in Model.Suppliers)
               {
                   <tr>
                       <th>@suppliers.CompanyName</th>
                       <th>@suppliers.Country</th>
                       <th>@suppliers.Phone</th>
                   </tr>
               }
           }
       </tbody>

   </table>
</div>