
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="alert alert-primary" >@DateTime.Now.ToLongTimeString()</p>
    <h2>Northwind visitors</h2>
    <p>We have had @Model?.VisitorCount visitors this month.</p>
</div>
